<IfModule mod_rewrite.c>
    # <IfModule mod_negotiation.c>
    #     Options -MultiViews
    # </IfModule>

    # <IfModule mod_headers.c>
        Header set Content-Type "text/html; charset=utf-8" "expr=%{CONTENT_TYPE} == ''"
    # </IfModule>

    # For Apache
    RewriteEngine On


    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1
    
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php

</IfModule>
